body {
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%) center top/cover;
  height: 100vh;
}

.container {
  display: flex;

}

.item {
  color: #fff;
  font-size:36px;
  animation: colorful 1.5s linear infinite alternate;
}

@keyframes colorful {
  to {
    color: red;
    text-shadow: 1px 1px 4px #333;
  }
}

@for $i from 1 through 8 {
  .item:nth-child(#{$i}) {
    animation-delay: $i * 0.2s;
  }
}