@use "sass:math";
* {
  margin: 0;
  padding: 0;
}

$containerSize: 300px;
$boxSize: 200px;
$itemSize: 36px;

.container {
  margin: 100px;
  width: $containerSize;
  height: $containerSize;
  position: relative;
  background: #eee;
  border-radius: 50%;
  animation: rotation 10s infinite linear;

}

.box {
  width: $boxSize;
  height: $boxSize;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

$r: 125;
$n: 6;
$deg: 360deg / $n;

@for $i from 1 through $n {
  $x: $r * math.sin($deg * ($i - 1));
  $y: $r * math.cos($deg  * ($i - 1));
  // 得到一个随机的颜色值
  $bgColor: hsl(random(360), 100%, 50%);
  .item:nth-child(#{$i}) {
    position: absolute;
    width: $itemSize;
    height: $itemSize;
    background: $bgColor;
    left: calc(50% - #{$itemSize / 2});
    top: calc(50% - #{$itemSize / 2});
    border-radius: 50%;
    transform: translate(unquote('#{$x}px'), unquote('#{$y}px'));
 
  }
}

// 实现一个旋转动画
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
