* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.vscode {
  display: flex;
  height: 100%;
}

.editor-sidebar {
  width: 300px;
  background: black;
}

.editor-container {
  flex: 1;
  background: rgba(0, 0, 0, 0.7);
}

.btn {
  width: 100px;
  height: 30px;
  background: #44a7fe;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}